---
layout: landing_es
published: true
lang: es
trans: /
---

<!--Content-->
<div class="cover center-align">
	 <div class="cover-photo">
	 <div class="landing-circle hide-on-small-only"></div>
	 	<div class="row">
	 		<div class="col m3 l3 hide-on-small-only sidebar-menu">
	 		<div class="sidebar-logo">
	 		<a href="#!" class="gfcblue brand-logo"><img src="/images/logo_goforcare.svg"></a></div>
	      <ul class="hide-on-med-and-down sidebar-list">
	        
	        <li class="navbar-item"><a class="teal-text text-lighten-1 navbar-link" href="#"><i class="fa fa-medkit" aria-hidden="true"></i>Paquetes</a></li>
	         <li class="navbar-item"><a class="teal-text text-lighten-1 navbar-link" href="#"><i class="fa fa-medkit" aria-hidden="true"></i>Aliados</a></li>
	         <li class="navbar-item"><a class="teal-text text-lighten-1 navbar-link" href="#"><i class="fa fa-medkit" aria-hidden="true"></i>Colombia</a></li>
	          <li class="navbar-item"><a class="teal-text text-lighten-1 navbar-link" href="/procedimientos"><i class="fa fa-medkit" aria-hidden="true"></i>Procedimientos</a></li>
	      </ul>
	      <a class="waves-effect waves-light btn-large sidebar-contact" href="#"><i class="fa fa-envelope" aria-hidden="true"></i>Contáctanos ya!</a>
	      </div>
		 	<div class="col s12 m6 l6 offset-m3">
			  <h1>The best companion for your medical trip</h1>
			  <h2>Professional support from beginning to end</h2>
			  <a href="#get_started">
				  <button class="btn-floating btn-large get-started waves-effect waves-light accent-bg"><i class="fa fa-chevron-down"></i>
				  </button>
			  </a>
			</div>
		</div>
	</div>
</div>

<section class="landing arrangement">
	<div class="row container">
		<div class="col s12 m4 l4 illustration arrangement">
			{% include svg/illustrations/hotel.svg %}
			{% include svg/illustrations/bathtub.svg %}
			{% include svg/illustrations/cocktail.svg %}
			{% include svg/illustrations/restaurant.svg %}
			{% include svg/illustrations/tech.svg %}
			{% include svg/illustrations/bell.svg %}
			{% include svg/illustrations/tea.svg %}
		</div>
		<div class="col s12 m7 l7 offset-m1 offset-l1 center-align">
			<h3>Arrangement</h3>
			<p>You are at a few clicks to get your med trip organized. Don’t waste your time searching for hotel, taxis, nurses or flights. We have it all covered. Don’t worry about anything.</p>
			<a class="waves-effect waves-light btn" href="#">Our all inclusive packages</a>
		</div>
	</div>

</section>

<section class="landing aftercare dark">
	<div class="row container">
		<div class="col s12 m4 l4 illustration aftercare">
			{% include svg/illustrations/nurse.svg %}
			{% include svg/illustrations/thermometer.svg %}
			{% include svg/illustrations/stethoscope.svg %}
			{% include svg/illustrations/medicine-bottle.svg %}
			{% include svg/illustrations/checklist.svg %}
			{% include svg/illustrations/medsign.svg %}
		</div>
		<div class="col s12 m7 l7 offset-m1 offset-l1 center-align">
			<h3>Aftercare</h3>
			<p>You are at a few clicks to get your med trip organized. Don’t waste your time searching for hotel, taxis, nurses or flights. We have it all covered. Don’t worry about anything.</p>
			<a class="waves-effect waves-light btn" href="#">Our doctors and partners</a>
		</div>
	</div>

</section>

<section class="landing transport">
	<div class="row container">
		<div class="col s12 m4 l4 illustration transport">
			{% include svg/illustrations/ambulance.svg %}
			{% include svg/illustrations/rocket.svg %}
			{% include svg/illustrations/sign.svg %}
			{% include svg/illustrations/ship.svg %}
			{% include svg/illustrations/helicopter.svg %}
			{% include svg/illustrations/airplane.svg %}
		</div>
		<div class="col s12 m7 l7 offset-m1 offset-l1 center-align">
			<h3>Transport</h3>
			<p>You are at a few clicks to get your med trip organized. Don’t waste your time searching for hotel, taxis, nurses or flights. We have it all covered. Don’t worry about anything.</p>
			<a class="waves-effect waves-light btn" href="#">Contact us for a free consultation</a>
		</div>
	</div>

</section>

<section class="landing aftercare dark">
	<div class="row container">
		<div class="col s12 m4 l4 illustration aftercare">
			{% include svg/illustrations/man.svg %}
			{% include svg/illustrations/map.svg %}
			{% include svg/illustrations/mountains.svg %}
			{% include svg/illustrations/museum.svg %}
			{% include svg/illustrations/beach.svg %}
		</div>
		<div class="col s12 m7 l7 offset-m1 offset-l1 center-align">
			<h3>Vacations</h3>
			<p>You are at a few clicks to get your med trip organized. Don’t waste your time searching for hotel, taxis, nurses or flights. We have it all covered. Don’t worry about anything.</p>
			<a class="waves-effect waves-light btn" href="#">Discover Colombia</a>
		</div>
	</div>

</section>

<section class="landing-packages center-align">
	<h2> All Inclusive Packages</h2>
	<p>We have designed ‘All-Inclusive’ packages based on what’s most commonly requested. Choose a package and tailor it to your own needs.</p>
	<div class="row container">
	  <div class="col s12 m4">
		<figure class="effect-ming">
	      <img src="https://i.imgur.com/h1u5Z2H.jpg" alt="img09" />
	      <figcaption>
	        <h2><span>Lipo</span>Suction</h2>
	        <p>All inclusive liposuction for <span class="bold">$10.000</span></p>
	        <a href="#">View more</a>
	      </figcaption>
	    </figure>
	  </div>
	  <div class="col s12 m4">
		<figure class="effect-ming">
	      <img src="https://i.imgur.com/h1u5Z2H.jpg" alt="img09" />
	      <figcaption>
	        <h2><span>Lipo</span>Suction</h2>
	        <p>All inclusive liposuction for <span class="bold">$10.000</span></p>
	        <a href="#">View more</a>
	      </figcaption>
	    </figure>
	  </div>
	  <div class="col s12 m4">
		<figure class="effect-ming">
	      <img src="https://i.imgur.com/h1u5Z2H.jpg" alt="img09" />
	      <figcaption>
	        <h2><span>Lipo</span>Suction</h2>
	        <p>All inclusive liposuction for <span class="bold">$10.000</span></p>
	        <a href="#">View more</a>
	      </figcaption>
	    </figure>
	  </div>
	</div>
	<a class="waves-effect waves-light btn-large sidebar-contact" href="#">See all our packages</a>
</section>

<section class="center-align">
	<h2>Our reliable surgeons</h2>
	<p>We chose all our doctors carefully to offer you the highest quality possible.<br>With years of experience and thousands of procedures done, they are here to help your achieve the body you always wanted.</p>

	<div class="carousel-container">
	  <img class="prev" src="http://imgh.us/chevron-left.svg">
	  <img class="next" src="http://imgh.us/chevron-right.svg">
	   <div class="carousel carousel-slider center" data-indicators="true">
		     <div class="carousel-item white-text" href="#one!">
		      <div class="row carousel-item-container">

		      	<div class="col s12 m4 l4">
		           <img class="circle" src="https://thumbs.dreamstime.com/x/medical-people-young-asian-doctor-woman-female-smiling-portrait-multiracial-caucasian-32319194.jpg">
		        </div>
		     	<div class="col s12 m7 l7">
		     		<h5>MD JUAN PABLO DELGADO </h5>
		     		<p>Médico y Cirujano de la Pontificia Universidad Javeriana con estudios de especialización en Cirugía Plástica y Estética en Brasil y fellow en Médicina Y Cirugía Láser en los Estados Unidos. 7 años de experiencia en el campo, Y más de 2000 procedimientos realizados en Colombia, Brasil y Los Estados Unidos. Mi práctica médica siempre ha sido orientada desde una perspectiva científica y humana brindándole a mi paciente medicina basada en la evidencia, tecnologías y terapias a la vanguardia mundial, un trato amable, respetuoso y ético.</p>
		     	</div>
		     	</div>
			    <div class="carousel-item white-text" href="#two!">
			      <h2>Second Panel</h2>
			      <p class="white-text">This is your second panel</p>
			    </div>
			    <div class="carousel-item white-text" href="#three!">
			      <h2>Third Panel</h2>
			      <p class="white-text">This is your third panel</p>
			    </div>
			    <div class="carousel-item white-text" href="#four!">
			      <h2>Fourth Panel</h2>
			      <p class="white-text">This is your fourth panel</p>
			    </div>
		  	</div>
		</div>
	</div>


</section>









<!-- <div class="row topics center-align">
	<div class="container">
		<div class="col s12 m3 l3">
		    <svg viewBox="0 0 100 100" class="icon">
  				<use xlink:href="#health"></use>
			</svg>
			<h3>Health</h3>
		</div>
		<div class="col s12 m3 l3">
		  	<svg viewBox="0 0 100 100" class="icon">
  				<use xlink:href="#arrangement"></use>
			</svg>
			<h3>Arrangement</h3>
		</div>
		<div class="col s12 m3 l3">
			<svg viewBox="0 0 100 100" class="icon">
  				<use xlink:href="#aftercare"></use>
			</svg>
			<h3>Aftercare</h3>
		</div>
		<div class="col s12 m3 l3">
			<svg viewBox="0 0 100 100" class="icon">
  				<use xlink:href="#vacations"></use>
			</svg>
			<h3>Vacations</h3>
		</div>
    </div>
</div> -->