<header class="site-header">
<div id="container">
  <div id="nav" class="navbar-trans navbar-fixed">
  <nav>
      <div class="nav-wrapper">
        <a href="/" class="gfcblue brand-logo">
        {% include svg/logo_notext.svg %}
        {% include svg/logo_text2.svg %}</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="fa fa-bars gfcblue" aria-hidden="true"></i></a>
        <ul class="right hide-on-med-and-down navbar-list">
           <li class="gfcblue navbar-item"><a class="gfcblue navbar-link" href="/procedimientos"><i class="fa fa-medkit left" aria-hidden="true"></i>Procedimientos</a></li>
          <li class="navbar-item"><a class="gfcblue navbar-link" href="#"><i class="fa fa-medkit" aria-hidden="true"></i>Network</a></li>
           <li class="navbar-item"><a class="gfcblue navbar-link" href="#"><i class="fa fa-medkit" aria-hidden="true"></i>Contact</a></li>
        </ul>
          </nav>
    </div>
    
    
        <ul class="side-nav" id="mobile-demo">
           <li  class="gfcblue"><a class="gfcblue" href="/procedimientos"><i class="fa fa-medkit left" aria-hidden="true"></i>Procedimientos</a></li>
          <li><a class="gfcblue" href="badges.html"><i class="fa fa-medkit" aria-hidden="true"></i>Network</a></li>
           <li><a class="gfcblue" href="badges.html"><i class="material-icons right">view_module</i>Contact</a></li>
        </ul>
        
      </div>

  </div>
</header>